@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(180deg, #655BD0 0%, rgb(119, 0, 255) 100%);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-checkbox {
    width: 18px !important;
    height: 18px !important;
    background-color: #EAEBEC;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.custom-checkbox:checked {
    background-color: #6259CF;
    border-color: #6259cf;
}